<!-- this form gets the other info we need if they sign up with facebook -->

<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href="css/profile.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Select your discipline</h1>

    <!-- LOGIN FORM -->
    
            <label><%= user.facebook.name %></label>
            <img src="<%= user.facebook.user_photos %>"><br>
            <strong>email</strong>: <%= user.facebook.email %><br>
        </div>

    <div class="form-group">
    <form action="/add-discipline" method="post">
        <div class="form-group">
            <label>Discipline</label>
            <select class="form-control" name="discipline">
              <option value="" disabled selected>Select the discipline you are practising</option>
              <option value="kung-fu">Kung Fu</option>
              <option value="golf">Golf</option>
              <option value="salsa-dance">Salsa dance</option>
              <option value="coding">Coding</option>
            </select>
        </div>
        

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>


    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>