<!-- this form gets the other info we need if they sign up with facebook -->

<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    
    <link rel="stylesheet" type="text/css" href="css/profile.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body id= "facebook-login-page-background">
<div class= "jumbotron">

<!-- <h1 id= "discipline-header"><span class="fa fa-sign-in"></span> Select your discipline</h1> -->

<div class="col-sm-6 col-sm-offset-3">

    

    <!-- LOGIN FORM -->
    
            <img id= "facebook-pic" src="<%= user.facebook.user_photos %>"><br>
            <label id= "facebook-name"><%= user.facebook.name %></label>
        </div>

    <div class="form-group">
        <form action="/add-discipline" method="post">
            <div class="form-group">
            <input type="text" class="discipline-form" name="discipline" placeholder= "What is your discipline?">
            </div>
        

        <button id= "discipline-button" type="submit" class="btn btn-warning btn-lg">Add discipline</button>
    </form>


    <hr>

    <p class= "have-account">Already have an account? <a href="/login">Login</a></p>
    <p class= "have-account">Or go <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>