<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
  
    <link rel="stylesheet" type="text/css" href="css/splashStyle.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>



    <div class="jumbotron text-center">
        <img id="logo" src="/images/logo.png" alt="logo"> <h1>Welcome To 10K</h1>

        <p><u>Login or Register with:</u></p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        
    </div>

</div>
</body>
</html>