body{
	background-image: url('../images/badgeCase.jpg');
	background-repeat: repeat-y;
	background-size: 1450px 700px;

}

img{
	padding-left: 50px;
	padding-right: 25px;
	
}

div{
	text-align: center;
}

.header{
	background-image: url('../images/metal.jpg');
	background-size: cover;
	margin-bottom: -15px;
	margin-top: -20px;
	width: 800px;
	border-radius: 15px;
	position: relative;
	left: 20%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}