body{
	background: linear-gradient(45deg, #ffc387 3%,#ffc387 14%,#ffa245 80%);
	background-repeat: repeat-y;
	color: #C13100;
}


.form-control{
	color: #C13100;
	background-color: #FFFBD0;
}

.discipline-form{
	color: #C13100;
	background-color: #FFFBD0;
	width: 400px;
	display: block;
	margin: 0 auto;
}

.btn-lg{
	background-color:  #FF9900;
}

.well{
	background-color: #FFFBD0;
	position: fixed;
	left: 30%;
	width: 40%;
}

.text-primary{
	color: #C13100;
}

.btn-primary{
	background-color:  #FF9900;
}

.btn-default{
	background-color:  #FF9900;
	color: white;
}
a{
	color: #C13100;
}

#log-btn{
		font-weight: bold;
		padding-left: 10px;
}

img{
	border: solid #C13100 5px;
	border-radius: 25px;
	width: 100px;
	height: 100px;
	vertical-align: bottom;
	margin-bottom: 15px;
}

h1{
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	vertical-align: bottom;
	
}

#logout-btn{
	vertical-align: bottom;
	margin-bottom: 15px;
}

#discipline-header, #facebook-name, .have-account{
	display: block;
	text-align: center;
	color: #333333;
}

#facebook-name{
	padding-bottom: 20px;
	color: #333333;
	font-size: 30px
}



#facebook-login-page-background{
	background-image: url('../images/autumnal_background_2.jpg');
	background-size: cover

}


.jumbotron{
	/*opacity: .85;*/
	width: 45%;
	position: fixed;
	left: 27%;
	background-color: rgba(156,186,127, 0.9);
	border-radius: 25px;
	
}

#facebook-pic, #discipline-button{
	display: block;
	margin: 0 auto;
	opacity: 1;
}
